* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.rs text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.sha256 text eol=lf
Cargo.lock text eol=lf
LICENSE text eol=lf
*.png binary
*.ico binary
*.ttf binary
*.woff binary
*.dll binary
*.exe binary
